*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --colorPrincipal: #ffffff;
    --colorTexto: #ffffff;
    --colorFondo: #000000;
    --colorNavegacion:#000000;
    --fuenteGrande: 3.2rem;
    --fuente-h2:1.30rem;
    --fuente-p: .9rem;

}

*::selection{
    background: var(--colorPrincipal);
    color: rgb(255, 255, 255)000;
}

body{
    color: var(--colorTexto);
    background: var(--colorFondo);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 160px;
    box-shadow: 0 1px 4px ;
    font-family: "Zen Dots";
    background-color: #000000;
    }
.logo{
    color: var(--colorPrincipal);
    font-weight:lighter;
    font-size: 2.5rem;
    font-family: 'Zen Dots';
    text-shadow: 2px 2px rgb(4, 243, 243);
    

}



.navegacion{
    display: flex;
}
.navegacion a{ 
    color:var(--colorTexto);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 600;
    
}
.navegacion a:hover{
    color: rgb(4, 243, 243);
    transition: .4s;
}

.navegacion a::after{
    content: "";
    position: absolute;
    background-color: #0ef;
    height: 3px;
    width: 100%;
    left: 0;
    padding: 0 3px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    bottom: -3px;

}

.carrito {
    position: fixed;
    top: 80px;
    right: 10px;
    width: 300px;
    background-color: #252323;
    border: 2px solid #0ef;
    border-radius: .5rem;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.carrito h1{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 30px;
    left: 400px;
    font-size: 1rem;
    text-shadow: 3px 3px rgb(0, 0, 0);
    
}

.carrito {
    display: none;
  }
  .mostrar-carrito {
    display: block;
  }

.carrito .titulo-carrito {
    font-size: 1.5rem;
    margin-bottom: 10px;
}



.carrito .total {
    margin-top: 20px;
    font-weight: bold;
}

.carrito .btn-buy {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0ef;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


.icon-container{
    font-size: 40px;
    position: relative;
    top: 5px;
}


.btn-eliminar{
    position: relative;
    display:inline-block;
    padding: 1px 3px;
    color: #0ef;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #0ef;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
    background-color: #252323;
    font-family: "zen dots";
}
.btn-eliminar::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: turquoise;
    transform: skew(35deg);
    z-index: -1;
    transition: 1s;
}

.btn-eliminar:hover{
    color: #ffffff;
    box-shadow: 
    0 0 10px #0ef,
    0 0 20px #0ef,
    0 0 40px #0ef,
    0 0 80px #0ef,
    0 0 160px #0ef;
     

}

#cerrar-carrito{
  color: #0ef; 
  font-size: 24px; 
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

}

.total{
    font-size: 15px;
}

.btn-buy{
    position: relative;
    display:inline-block;
    padding: 1px 3px;
    color: #0ef;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #0ef;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
    background-color: #252323;
    font-family: "zen dots";
}
.btn-buy::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: turquoise;
    transform: skew(35deg);
    z-index: -1;
    transition: 1s;
}

.btn-buy:hover{
    color: #ffffff;
    box-shadow: 
    0 0 10px #0ef,
    0 0 20px #0ef,
    0 0 40px #0ef,
    0 0 80px #0ef,
    0 0 160px #0ef;
}

#icono-menu{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section{
    padding: 95px 13%;
}


.inicio{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
    font-family: 'Zen Dots';
    
}


.img-inicio img {
    max-width: 100%;
    width: 700px;
    height: auto;
}
.txt-inicio h1{
    font-size: 50px;
    color: var(--colorPrincipal);
    color: #0ef;
    text-shadow: 0 0 20px #0ef;

}

.txt-inicio h2{
    font-size: 30px;
    margin: 1rem 0 2rem ;
}

.boton{
    position: relative;
    display:inline-block;
    padding: 10px 30px;
    color: #0ef;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid #0ef;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
}

    
.boton::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: turquoise;
    transform: skew(35deg);
    z-index: -1;
    transition: 1s;
}

.boton:hover{
    color: #fff;
    box-shadow: 
    0 0 10px #0ef,
    0 0 20px #0ef,
    0 0 40px #0ef,
    0 0 80px #0ef,
    0 0 160px #0ef;
     

}


.boton:hover::before{
    width: 100%;

}


.botonOferta{
    position: relative;
    display:inline-block;
    padding: 10px 30px;
    color: #0ef;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid #0ef;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
}

    
.botonOferta::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: turquoise;
    transform: skew(35deg);
    z-index: -1;
    transition: 1s;
}

.botonOferta:hover{
    color: #fff;
    box-shadow: 
    0 0 10px #0ef,
    0 0 20px #0ef,
    0 0 40px #0ef,
    0 0 80px #0ef,
    0 0 160px #0ef;
     

}


.botonOferta:hover::before{
    width: 100%;

}

.sobreNosotros{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2.5rem;
    align-items:center;
    font-family:'Zen Dots';
}

.sobreN-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}

.sobreN-img{ 
    position: relative;
}
.imagen1,
.imagen2{
    position: absolute;
    top: -190px;
    left: -40px;
}


.imagen1,
.imagen2{
    width: 100%;
    height: 100%;
}

.imagen2{
    position: relative; 
    left: 1050px;
    top:  190px;

}


.sobreN-txt span{
    color: var(--colorPrincipal);
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 90%;
    margin: 0;
    color: #0ef;
    text-shadow: 0 0 20px #0ef;
}


.sobreN-txt h2{
    font-size: 30px;

}
.sobreN-txt p{
    margin: .8rem 0 1.8rem;
    font-size: 20px;
}

.titulo{
    text-align: center;
}

.titulo span{ color: #0ef;
    text-shadow: 0 0 20px #0ef;
    font-family: "Zen Dots";
    font-size: 50px ;

}

.titulo h2{
    color: var(--colorPrincipal);
    font-weight: bold;
    font-family: "Zen Dots";
    font-size: 30px;

}

.Productos{
    font-family: "Zen Dots";
}



.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
    align-items: center;

    
}
    


.contenido{
    position: relative;
    margin-top: 3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    box-shadow: 
    0 0 10px #0ef,
    0 0 20px #0ef,
    0 0 40px #0ef,
    0 0 80px #0ef,
    0 0 160px #0ef;
    border-radius: .5rem;
    
}

.contenido-img{
    width: 250px;
    height: 250px;
    
}


.contenido-img img{
    width: 100%;
    height: 100%;
}

.contenido h2{
    font-size: 1.4rem;
    color: #fff;

}

.contenido span{
    font-size: 30px;
    color: #0ef;
}

.contenido i{
    background:#0ef;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 0.5rem 0 .5rem;

}

.Ofertas{
    font-family: "zen dots";
}


.tema-ofertas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }
  
  
  .tema {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 3rem;
    height: auto;
    box-shadow: 
    0 0 10px #0ef,
    0 0 20px #0ef,
    0 0 40px #0ef,
    0 0 80px #0ef,
    0 0 160px #0ef;
    border-radius: .5rem;
  }
  
  .tema-img img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
    display: block;
  }
  
  .reducida img {
    width: 200px; 
    height: auto; 
  }

  .reducida2 img {
    width: 300px; 
    height: auto; 
  }

  .tema .textos{
    margin-top: 150px; 
  }
  .tema .textos2{
    margin-top: 20px; 
  }

  .tema .textos3{
    margin-top: 45px; 
  }

  .tema .textos4{
    margin-top: 45px; 
  }
  
  .tema i {
    background:#0ef;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 0.5rem 0 .5rem;

}

.tema h4{
    color: rgb(45, 211, 45);
}

.tema span{
    color: #0ef;
    font-size: 25px;
}

.tema h1 {
    text-decoration:line-through 2px;
    font-size: 15px;
    color: #9897a9;

}



.contenedor-servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 4rem;

    
}



.servicios{
    text-align: center;
    padding: 20px 30px;
    

}

.servicios img{
    width: 500px;
    align-items: center;

}

.servicios h3{ 
    margin: 4px 0 10px;
    color: #0ef;
    font-size: 1.3rem;
    font-family: "Zen Dots";
    text-align: center;


}

.servicios p{
    line-height: 1.7;
    font-family: "Zen Dots";

}

.botonC{
    font-family:"Zen Dots";
    position: relative;
    display:inline-block;
    padding: 10px 30px;
    color: turquoise;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid turquoise;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
    background-color:#252323;

}

.botonC::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: turquoise;
    transform: skew(35deg);
    z-index: -1;
    transition: 1s;
}

.botonC:hover{
    font-family:"Zen Dots";
    color: #ffffff;
    box-shadow: 
    0 0 10px rgb(255, 255, 255),
    0 0 20px #0ef,
    0 0 40px #0ef,
    0 0 80px #0ef,
    0 0 160px #0ef;


}

.botonC:hover::before{
    width: 100%;
}

.cta{
    background:#252323;
    padding: 70px 0;
    text-align: center;
    width:66%;
    margin: 100px auto;
    border-radius: 10px;

}

.cta h2{
    font-size: 2rem;
    font-family: "Zen Dots";
    color: #ffffff;
    margin-bottom: 30px;

}

.contenidoFinal{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    padding: 10px 0;
}

.links{
    width: 25%;
}

.links h4{
    font-size: 1,2rem;
    color: turquoise;
    margin-bottom: 25px ;
    position:relative;
    font-family: "Zen dots";
}

.links h4::before{
    font-size: 1.2rem;
    color: turquoise;
    height: 2px;
    width: 50x;
    left: 0;
    bottom: -8px;
    background-color: turquoise;
    
}

.links h4::after{
    content: " ";
    position: absolute;
     content: "";
    position: absolute;
    background-color: #0ef;
    height: 2px;
    width: 50px;
    left: 0;
    padding: 0 3px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    bottom: -3px;

}


.links ul li:not(:last-child){
    margin-bottom: 15px;
}

.links ul li a{
    color:  #9897a9;
    font-size: 1.1rem;
    font-family: "zen dots";
    display: block;
    text-transform: capitalize;
    transition: -4s;
    font-weight: 600;
}

.links ul li a:hover{
    color: #fff;
    transform: translateX(-10px);
}
.links .redes{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.links .redes a{
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #000000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
    border: 2px solid turquoise;
}

.links .redes a:hover{
    transform: scale(1.2);
    color: #ffffff;
    background: turquoise;
}

@media (max-width: 1560px){
    header{
        padding: 15px 40px;

    }

}

@media (max-width: 1140px){
    section{
        padding: 50px;
    }
    #icono-menu{
        display: initial;
        color: var(--colorTexto);
    }
    header .navegacion{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #151313;
        transition: .4s;
    }
    header .navegacion.active{
        top: 70px;
    }

    .navegacion a{
        padding: 1.5rem;
        display: block;
    }

    .links{
        width: 50%;   
        margin-bottom: 10px;
    }
    
}

@media (max-width: 768px) {
    .tema-ofertas {
      grid-template-columns: 1fr; 
    }
    .sobreN-txt span{
        position: absolute;
        top: 100%;
    }
  }

@media (max-width: 720px){

    header{
        padding: 10px 16px;
    }
    
    .inicio ,
    .sobreNosotros{
        grid-template-columns: 1fr;
        text-align: justify;
        
    }
    
    .sobreN-img{
        order: 2;
    }
    
    section{
        padding: 110px 10%;
    }

    .imagen1{
        top: auto;
    }
    


    .imagen2{
        left: 70px;
        top: -80px;
    }

    .contenedor-servicios{
        display: block;
    }
    
    .servicios img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 575px){
    .links{
        width: 100%;
    }
}






    





  




